{% extends 'base.html' %}

{% block title %}Patients{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <h1>Patients</h1>
            <p>Click on a patient's ID Number so as to view his/her
            details</p>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id Number</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Surname</th>
                    </tr>
                </thead>
                <tbody>
                    {% for patient in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'patient_detail' patient.patient.id %}">
                                {{ patient.patient.id_number }}
                            </a>
                        </td>
                        <td>{{ patient.patient.first_name }}</td>
                        <td>{{ patient.patient.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
