{% extends 'base.html' %}

{% block title %}Patient{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <h1>Patient</h1>
            <p>Click on a patient's ID Number so as to update his/her
            details or add a diagnoses to him/her</p>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id Number</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Surname</th>

                    </tr>
                </thead>
                <tbody>
                    {% for patient in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'patient_detail' patient.id %}">
                                {{ patient.user.id_no }}
                           </a>
                        </td>
                        <td>{{ patient.user.first_name }}</td>
                        <td>{{ patient.user.surname }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %} 
