{% extends 'base.html' %}

{% block title %}Diagnoses{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-8">
            <h1>Diagnoses</h1>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Patient</th>
                        <th scope="col">Medical Diagnosis</th>
                        <th scope="col">Date</th>
                      
                    </tr>
                </thead>
                <tbody>
                    {% for diagnosis in object_list %}
                    <tr>
                        <td> {{ diagnosis.patient.user.id_no }}</td>
                        <td>
                        
                        <a href="{% url 'diagnosis_detail' diagnosis.id %}" >
                        
                        {{ diagnosis.medical_diagnosis }}
                        
                        </a>
                        </td>
                        <td>{{ diagnosis.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
